@tailwind base;
@tailwind components;
@tailwind utilities;

.symbol-enter-active {
  transition: transform 200ms ease, opacity 200ms ease;
}
.symbol-enter-from {
  opacity: 0;
  transform: scale(0.85);
}
.symbol-enter-to {
  opacity: 1;
  transform: scale(1);
}
